html,
body,
#map {
    width: 100%;
    height: 100%;
}
label {
    cursor: default;
    font-size: 14px;
}
select {
    background-repeat: no-repeat;
    width: 150px;
    padding: 7px;
    margin-top: 8px;
    font-family: Cursive;
    line-height: 1;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    outline: none;
}
#container-filter{
    background: white;
    padding: 10px;
}
.paginacion {
    margin:20px 0;
}

.paginacion ul {
    list-style:none;
    text-align: center;
}

.paginacion ul li {
    display:inline-block;
    margin-right:10px;
}

.paginacion ul li a {
    display:block;
    padding:10px 20px;
    color:#fff;
    background:#024959;
    text-decoration: none;
}

.paginacion ul li a:hover {
    background:#037E8C;
}

.paginacion ul li .active {
    background:#037E8C;
    font-weight:bold;
}
.paginacion {
    margin:20px 0;
}

.paginacion ul {
    list-style:none;
    text-align: center;
}

.paginacion ul li {
    display:inline-block;
    margin-right:10px;
}

.paginacion ul li a {
    display:block;
    padding:4px 17px;
    color:#fff;
    background:#024959;
    text-decoration: none;
}

.paginacion ul li a:hover {
    background:#037E8C;
}

.paginacion ul li .active {
    background:#037E8C;
    font-weight:bold;
}

/*---------------------------------- material design ----------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    background: #009688;
}

.wrapper {
    /*height: 100%;*/
    height: 5%;
    transition: all 300ms ease-in-out;
    margin: 1em 0;
    padding: 0;
}

.background--blur {
    background: #ffffff;
}

.menu {
    /*font-size:2em;*/
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.menu div {
    /*margin: 1em;*/
    /*padding-bottom: 1em;*/
    border-bottom: 1px solid #ccc;
}

.menu a {
    text-decoration: none;
    color: #3367d6;
}

.menu a:hover {
    text-decoration: underline;
}

.menu div:last-child {
    border: 0;
}

.menu--off {
    position: absolute;
    left: -50%;
    width: 14%;
    display: block;
    background: #eee;
    min-height: 600px;
    height: 125%;
    margin-top: 1em;
    transition: all 300ms;
}

.menu--on {
    left: 0;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms;
}

.material-design-hamburger button {
    display: block;
    border: none;
    background: none;
    outline: 0;
}

.material-design-hamburger__icon {
    padding: 1rem 1rem;
    cursor: pointer;
}

.material-design-hamburger__layer {
    display: block;
    width: 70px;
    height: 7px;
    background: rgba(104, 161, 204, 0.71);
    position: relative;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
    display: block;
    width: inherit;
    height: 10px;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before {
    bottom: 200%;
}

.material-design-hamburger__layer:after {
    top: 200%;
}

.material-design-hamburger__icon--to-arrow {
    animation-name: material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--from-arrow {
    animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after-from;
}

@keyframes material-design-hamburger__icon--slide {
    0% {
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes material-design-hamburger__icon--slide-before {
    0% {
    }
    100% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-after {
    0% {
    }
    100% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-from {
    0% {
        transform: rotate(-180deg);
    }
    100% {
    }
}

@keyframes material-design-hamburger__icon--slide-before-from {
    0% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {
    }
}

@keyframes material-design-hamburger__icon--slide-after-from {
    0% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {
    }
}