html,
body,
#map {
    width: 100%;
    height: 100%;
}
label {
    cursor: default;
    font-size: 14px;
}
select {
    background-repeat: no-repeat;
    width: 125px;
    padding: 7px;
    margin-top: 8px;
    font-family: Cursive;
    line-height: 1;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    outline: none;
}
#container-filter{
    background: white;
    padding: 10px;
}
.paginacion {
    margin:20px 0;
}

.paginacion ul {
    list-style:none;
    text-align: center;
}

.paginacion ul li {
    display:inline-block;
    margin-right:10px;
}

.paginacion ul li a {
    display:block;
    padding:10px 20px;
    color:#fff;
    background:#024959;
    text-decoration: none;
}

.paginacion ul li a:hover {
    background:#037E8C;
}

.paginacion ul li .active {
    background:#037E8C;
    font-weight:bold;
}
.paginacion {
    margin:20px 0;
}

.paginacion ul {
    list-style:none;
    text-align: center;
    margin-left: -48px;

}

.paginacion ul li {
    display:inline-block;
    margin-right:10px;
}

.paginacion ul li a {
    display:block;
    padding:4px 17px;
    color:#fff;
    background:#024959;
    text-decoration: none;
}

.paginacion ul li a:hover {
    background:#037E8C;
}

.paginacion ul li .active {
    background:#037E8C;
    font-weight:bold;
}

/*---------------------------------- material design ----------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    background: #009688;
}

.wrapper {
    /*height: 100%;*/
    height: 2%;
    transition: all 300ms ease-in-out;
    margin: 1em 0;
    padding: 0;
}

.background--blur {
    background: #ffffff;
}

.menu {
    /*font-size:2em;*/
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.menu div {
    /*margin: 1em;*/
    /*padding-bottom: 1em;*/
    /*border-bottom: 1px solid #ccc;*/
}

.menu a {
    text-decoration: none;
    color: #3367d6;
}

.menu a:hover {
    text-decoration: underline;
}

.menu div:last-child {
    border: 0;
}

.menu--off {
    position: absolute;
    left: -50%;
   /* width: 15%;*/
    display: block;
    background: #eee;
    min-height: 450px;
    height: 50%;
    margin-top: 1em;
    transition: all 300ms;
}

.menu--on {
    left: 0;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms;
    background: white;
}


/************************************************************************************************************/
.hamburger {
    padding: 0px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
.hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
    width: 40px;
    height: 10px;
    display: inline-block;
    position: relative; }

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }



/*
* Arrow
*/
.hamburger--arrow.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
* Arrow Right
*/
.hamburger--arrow-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }